@import url(https://fonts.googleapis.com/css?family=Open+Sans);
/* @import url('https://fonts.googleapis.com/css?family=Montserrat:400,800'); */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Lora', sans-serif;
	/* font-family: 'Montserrat', sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
